---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Blog";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>jdennis.org | {pageTitle}</title>
  </head>
  <BaseLayout pageTitle={pageTitle}>
    <body>
      <p>This is where I will post about my journey learning Astro.</p>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
      <script>
        import "../scripts/menu";
      </script>
    </body>
  </BaseLayout>


</html>
